<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/lista">Bicicleteria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" *ngIf="mostrarbotones" href="/login">Iniciar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="mostrarbotones" href="/registrar">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/edicion">Edicion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nosotros">Sobre nosotros</a>
          </li>
        </ul>
        <form  [formGroup]="navForm" (ngSubmit)="search()"  class="d-flex">
          <input class="form-control me-sm-2" type="text"  formControlName="search"  type="search" placeholder="Buscador"> 
          <button class="btn btn-secondary my-2 my-sm-0">Buscar</button>
          <button *ngIf="mostrarboton" class="nav-link" href="#" (click)="logout()">Cerrar Sesión</button>
        </form>
      </div>
    </div>
  </nav>