
<table class="tabletable-hover">
  <button routerLink="/añadir" type="button" class="btn btn-primary btn-sm">Añadir</button>

  <tr >
    <th scope="col">Nombre</th>
    <th scope="col">Descripción</th>
    <th scope="col">Precio</th>
    <th scope="col">Stock</th>
  </tr>
  
  <tr *ngFor="let data of listProducts" class="table-active">
    <th scope="row"> {{data.name}} </th>
    <td>{{data.description}}</td> 
    <td>{{data.price | currency:'USD'}} </td>
    <td>{{data.stock}}</td>
  </table>


