

  <form>
    <fieldset>
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4">Dirección de mail</label>
        <input type="email" class="form-control" name="email" placeholder="Ingresar el mail">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Contraseña</label>
        <input type="password" class="form-control" name="password" placeholder="Contraseña" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </fieldset>
  </form>

